streamlit==1.32.0
numpy==1.26.4
pandas==2.2.0
librosa==0.10.1
scikit-learn==1.4.0
sentence-transformers==2.5.1
openai-whisper==20231117
soundfile==0.12.1
pydub==0.25.1
nltk==3.8.1
torch==2.2.0
transformers==4.38.2